*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background: #05060b;
}
